body {
  font-family: 'Roboto';
}

table, th, td {
  border: 1px solid #ccc;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

th, td {
  padding: 20px;
}

th, td:first-child {
  max-width: 200px;
}

tr:nth-child(odd) {
  background-color: #eee;
}

th {
  background-color: white;
}

code {
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 14px;
}
